


body {
  background-image: url("tesla1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  

 }

 h1, h2 {
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
 }

 * {
  margin: 0;
  padding: 0;
 }


